html,
body {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.inner_body {
    display: flex;
    flex-direction: row;
}

.head_top {
    height: 70px;
    padding: 0.5em;
    background-color: rgb(29, 92, 95);
    display: flex;
}

.menu {
    flex: 1;
    color: #FFF;
    text-align: right;
    margin-top: 10px;
}

.head_top h2 {
    color: #FFF;
    margin-top: center/2;
    margin-left: 10px;
}

.sideBar {
    flex: 0 0 1;
    width: 200px;
    padding: 10px;
    border-right: 1px solid #111;
    height: 91vh;
    background: #d6e4df;
}

.sideBarItem {
    border: 1px solid #000;
    border-radius: 3px;
    height: fit-content;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.page {
    padding: 0 20px;
    margin: 20px;
    border: 1px solid green;
}

.dropZone {
    flex: 0 0 auto;
    height: 10px;
    transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
    display: none;
}

.dropZone.horizontalDrag {
    width: 120px;
    height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
    flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
    background: #00a2ff;
    transition: 100ms all;
}

.component {
    height: fit-content;
    text-align: center;
}

.column {
    flex: 1;
}

.columns {
    display: flex;
    width: 100%;
    padding: 0;
}

.columnContainer {
    display: flex;
}

.base {
    cursor: move;
}

.row {
    padding: 0;
    z-index: 0;
    border-left: 3px solid rgb(0, 0, 0);
}

.trashDropZone {
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outputDropZone {
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    border: 1px solid purple;
    align-items: center;
    float: right;
}

.pageContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 100px;
}