body {
  background-color: hsl(93, 96%, 82%);
}

.App {
  text-align: left;
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  background-color: hsl(93, 96%, 12%);
}

.App-link {
  color: #61dafb;
}

#corpo {
  width: auto; 
}

#divDosBotoes {
  align-self: flex-start;
  padding-left: 1em;
  width: 8em;
  height: 100%;
  float: left;
  background-color: blueviolet;
}

.fotos-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 4em;
  height: 4em;
  padding: .5em;
  margin-right: .5em;
}

.fotos-thumb img {
  display: block;
  width: 4em;
  height: 4em;
}

#divDireita {
  margin-left: 20em;
  margin-right: 10em;
  border: 10em;
  background-color: blue;
  width: auto;
  padding: 1em;
}

.direitaFotos {
  margin: 0;
  width: auto;
  height: 5em;
  background-color: red;
  display: 'flex';
  overflow: 'auto';
}

.direitaFotosDiv {
  float: left;  
}

.direitaFotosDiv img {
  display: block;
  width: 4em;
  height: 4em;
}

#divDoLixo {
  padding: 1em;
  margin-top: 10em;
  width: 7em;
  height: 7em;
  background-color: tomato;
}